.box__toast{
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 70px;
  border-radius: 10px;
  background-color: rgba(0,  0, 0, 0.7);
  font-size: 14px;
  color: #fff;
}