* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

button {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

em,
address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

iframe,
fieldset,
img {
  border: 0 none;
}

textarea {
  resize: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  vertical-align: top;
}

hr {
  display: none;
}

@media (min-width: 1280px) {
  .box__main-banner .box__swiper-pagination.swiper-pagination-bullets {
    display: flex;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: transparent;
    gap: 10px;
    width: auto;
    height: auto;

  }
  .box__main-banner .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #eee;
    flex: 0 0 auto;
    cursor: pointer;
  }

  .box__main-banner .swiper-pagination-bullets .swiper-pagination-bullet-active{
    background-color: #222;
  }
}