@import "../../assets/color.css";

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

em,
address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

iframe,
fieldset,
img {
  border: 0 none;
}

textarea {
  resize: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  vertical-align: top;
}

hr {
  display: none;
}

/* font rule */
body,
table,
input,
textarea,
select,
button,
th,
td,
input,
select,
textarea,
th,
td,
p,
dl,
dt,
dd,
li,
pre {
  font-family: -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, Roboto,
    Noto Sans CJK KR, Tahoma, "Noto Sans KR", "Gmarket Sans", sans-serif;
}

.for-a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  text-indent: -5000em;
}
.box__best-top {
  border-bottom: 1px solid var(--Gray-300);
}
.box__category-wrap {
  position: relative;
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 30px;
}
.swiper {
  position: relative;
  overflow: hidden;
  max-width: 1136px;
  margin: 0 auto;
}
.swiper .swiper-slide {
  width: auto;
  margin-right: 21px;
}
.swiper .swiper-slide:last-child {
  margin-right: 0;
}
.box__category-wrap .swiper-button-prev {
  left: 0;
  width: 32px;
  height: 32px;
  background: url(../../../public/images/best/icon__swiper-arrow.svg)
    center/100% no-repeat;
  transform: rotate(180deg);
}
.box__category-wrap .swiper-button-next {
  right: 0;
  width: 32px;
  height: 32px;
  background: url(../../../public/images/best/icon__swiper-arrow.svg)
    center/100% no-repeat;
}
.link__category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 68px;
  text-align: center;
}
.link__category .box__thumbnail {
  position: relative;
  overflow: hidden;
  width: 68px;
  height: 68px;
  border-radius: 50%;
}
.link__category .box__thumbnail .image {
  width: 100%;
  height: 100%;
}
.link__category .text__category {
  font-size: 14px;
  color: var(--Gray-600);
  line-height: 20px;
  white-space: nowrap;
}
.link__category.link__category--active .box__thumbnail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 2px solid var(--Green-500);
  border-radius: 50%;
}
.link__category.link__category--active .text__category {
  font-weight: bold;
  color: var(--Green-500);
}
.box__best-list {
  padding: 30px 0;
}
.list__best {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1132px;
  margin: 0 auto;
  gap: 30px 58px;
}
.list__best .list-item {
  width: 180px;
}
.list__best .list-item .box__thumbnail {
  overflow: hidden;
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 8px;
}
.list__best .list-item .box__thumbnail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--Black-RGB), 0.04);
}
.list__best .list-item .box__thumbnail .image {
  width: 100%;
  height: 100%;
}
.list__best .list-item .box__thumbnail .box__label-rank {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-color: var(--Green-500);
  border-radius: 8px 0;
  font-size: 14px;
  color: var(--White);
  text-align: center;
  line-height: 32px;
}
.list__best .list-item .box__item-info {
  margin-top: 12px;
}
.list__best .list-item .box__item-info .box__item-title {
  overflow: hidden;
  display: -webkit-box;
  color: var(--Gray-900);
  max-height: 44px;
  text-overflow: ellipsis;
  font-size: 15px;
  line-height: 22px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.box__item-price {
  margin: 6px 0;
}
.box__item-price:has(.text__price-title) .text__price-title {
  display: inline-block;
  font-size: 12px;
  color: var(--Red-600);
  vertical-align: top;
  line-height: 16px;
}
.box__item-price .box__price-original {
  display: inline-block;
  margin-left: 2px;
  font-size: 12px;
  color: var(--Gray-500);
  line-height: 16px;
  vertical-align: top;
}
.box__item-price .box__price-original .text__value {
  text-decoration: line-through;
}
.box__item-price .box__price-original .text__unit {
  font-size: 11px;
}
.box__item-price .box__discount {
  display: inline-block;
  font-size: 12px;
  font-family: var(--gmarketFont);
  color: var(--Red-600);
  line-height: 16px;
  vertical-align: top;
}
.box__item-price:has(.text__price-title) .box__discount {
  margin-right: 4px;
  font-size: 18px;
  line-height: 22px;
  vertical-align: bottom;
}
.box__item-price .box__price-seller {
  color: var(--Gray-800);
  vertical-align: top;
  margin-right: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  display: inline-block;
}
.box__item-price:has(.text__price-title) .box__price-seller {
  color: var(--Red-600);
}
.box__item-price .box__price-seller .text__unit {
  font-size: 16px;
}
.box__item-price .box__information-tags {
  display: inline;
  line-height: 1;
  vertical-align: top;
}
.box__item-price .box__information-tags .icon__tag {
  display: inline-block;
  height: 14px;
  margin-top: 4px;
  vertical-align: top;
}
.box__item-price .box__information-tags .icon__tag.icon__delivery-free {
  width: 42px;
}
.box__item-price .box__information-tags .image {
  height: 100%;
}
@media (max-width: 1200px) {
  .box__category-wrap {
    max-width: 100%;
    padding: 20px;
    overflow-x: auto;
    gap: 10px;
  }
  .box__category-wrap .swiper-button-prev {
    display: none;
  }
  .box__category-wrap .swiper-button-next {
    display: none;
  }
  .link__category {
    gap: 6px;
    width: 62px;
  }
  .link__category .box__thumbnail {
    width: 44px;
    height: 44px;
  }
  .link__category .text__category {
    font-size: 12px;
  }
  .list__best {
    max-width: 768px;
    margin: 0 auto;
    gap: 8px;
  }
  .list__best .list-item:first-child {
    width: 100%;
    padding-bottom: 20px;
  }
  .list__best .list-item:first-child .link {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }
  .list__best .list-item:first-child .box__thumbnail {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .list__best {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 16px;
    gap: 8px;
  }
  .list__best .list-item:first-child {
    max-width: 768px;
    margin: 0 90px;
  }
  .list__best .list-item:first-child .link {
    display: block;
    max-width: none;
    margin: 0 auto;
  }
  .list__best .list-item {
    width: calc(50% - 4px);
  }
  .list__best .list-item .box__thumbnail {
    width: 100%;
    height: auto;
  }
}
