.lottie--cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  width: 150px;
  height: 150px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: transform 1.5s ease, opacity 1.5s ease;
}

.lottie--cart.is-fade {
  transform: translate(400%, -400%) scale(0.5);
  opacity: 0;
}
