.section__patterns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2rem;
}

.box__pattern {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.button{
  padding: 0 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.button + .button{
  margin-left: 10px;
}